@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline-custom {
    @apply focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-accent;
  }
}

::selection {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
}

.full-h {
  height: calc(100vh - 4rem);
}

.bg-error-darken:hover {
  background-color: hsl(var(--er));
  filter: brightness(0.85);
}
