@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: hsl(var(--n));
  color: hsl(var(--nc));
}

.full-h {
  height: calc(100vh - 4rem);
}

.bg-error-darken:hover {
  background-color: hsl(var(--er));
  filter: brightness(0.85);
}

/*  Vue Datapicker Themes */

.dp__theme_light {
  --dp-background-color: hsl(var(--b3));
  --dp-text-color: hsl(var(--nc));
  --dp-hover-color: hsl(var(--af));
  --dp-hover-text-color: hsl(var(--nc));
  --dp-hover-icon-color: hsl(var(--nc));
  --dp-primary-color: hsl(var(--a));
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-icon-color: hsl(var(--nc));
  --dp-danger-color: hsl(var(--er));
  --dp-success-color: hsl(var(--a));
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: hsl(var(--nc));
  --dp-danger-color: #ff6f60;
  --dp-highlight-color: rgba(255, 255, 255, 0.1);
}

.dp__theme_dark {
  --dp-background-color: hsl(var(--n));
  --dp-text-color: hsl(var(--nc));
  --dp-hover-color: hsl(var(--af));
  --dp-hover-text-color: hsl(var(--ac));
  --dp-hover-icon-color: hsl(var(--ac));
  --dp-primary-color: hsl(var(--a));
  --dp-primary-text-color: #ffffff;
  --dp-secondary-color: #a9a9a9;
  --dp-border-color: #2d2d2d;
  --dp-menu-border-color: #2d2d2d;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #737373;
  --dp-scroll-bar-background: #212121;
  --dp-scroll-bar-color: #484848;
  --dp-success-color: hsl(var(--a));
  --dp-success-color-disabled: hsl(var(--nc));
  --dp-icon-color: hsl(var(--nc));
  --dp-danger-color: hsl(var(--er));
  --dp-highlight-color: rgba(13, 92, 167, 0.2);
}
